Repository excitr/sound-cloud-helper, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, documentation, infrastructure, web, backoffice

better handling of PR comments
  .github/workflows/deploy-vercel-fn.yml
Labels: automation

delete cleanup-preview.yml
  .github/workflows/cleanup-preview.yml
Labels: automation

Database migration changes
  packages/database/prisma/migrations/20241008113020_init/migration.sql
  packages/database/prisma/migrations/20241009031747_db/migration.sql
  packages/database/prisma/migrations11/0_init/migration.sql
  packages/database/prisma/migrations11/migration_lock.toml
Labels: none

Package added
  apps/web/package.json
  pnpm-lock.yaml
Labels: web

Latest Process: Resume
  apps/web/src/app/api/processes/latest/resume/route.ts
Labels: web

Latest Process: Iterate
  apps/web/src/app/api/processes/iterate/route.ts
Labels: web

Latest Process: Pause
  apps/web/src/app/api/processes/latest/pause/route.ts
Labels: web

CRON Endpoints: Refresh Token
  apps/web/src/app/api/cron/refreshToken/route.ts
Labels: web

CRON Endpoints: Delete Event
  apps/web/src/app/api/cron/deleteEvent/route.ts
Labels: web

CRON Endpoints: CLI
  apps/web/src/app/api/cron/cli/route.ts
Labels: web

CRON Endpoints: Manager
  apps/web/src/app/api/cron/manager/route.ts
Labels: web

update pnpm-lock
  pnpm-lock.yaml
Labels: none

force arrow function in .ts files
  apps/backoffice/package.json
  apps/web/package.json
  packages/config-eslint/library.cjs
  packages/config-eslint/next.cjs
  packages/config-eslint/package.json
  packages/database/package.json
  packages/logger/package.json
  packages/mode/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: web, backoffice

lint deprecated code
  apps/backoffice/.eslintrc.cjs
  apps/backoffice/src/app/layout.tsx
  apps/backoffice/src/app/page.tsx
  apps/backoffice/tsconfig.json
  apps/web/.eslintrc.cjs
  apps/web/src/app/layout.tsx
  apps/web/tsconfig.json
  packages/config-eslint/library.cjs
  packages/config-eslint/next.cjs
  packages/config-eslint/package.json
  packages/config-lintstaged/index.mjs
  pnpm-lock.yaml
Labels: web, backoffice

fix vercel preview
  .github/workflows/deploy-vercel-fn.yml
  .github/workflows/deploy-vercel.yml
Labels: automation

Update README.md
  README.md
Labels: documentation

Database migration changes
  packages/database/prisma/migrations/20241008113020_init/migration.sql
  packages/database/prisma/migrations/20241009031747_db/migration.sql
  packages/database/prisma/migrations11/0_init/migration.sql
  packages/database/prisma/migrations11/migration_lock.toml
Labels: none

Package added
  apps/web/package.json
Labels: web

Latest Process: Iterate
  apps/web/src/app/api/processes/iterate/route.ts
Labels: web

CRON Endpoints: Refresh Token
  apps/web/src/app/api/cron/refreshToken/route.ts
Labels: web

Latest Process: Pause
  apps/web/src/app/api/processes/latest/pause/route.ts
Labels: web

CRON Endpoints: Manager
  apps/web/src/app/api/cron/manager/route.ts
Labels: web

Latest Process: Resume
  apps/web/src/app/api/processes/latest/resume/route.ts
Labels: web

CRON Endpoints: Delete Event
  apps/web/src/app/api/cron/deleteEvent/route.ts
Labels: web

CRON Endpoints: CLI
  apps/web/src/app/api/cron/cli/route.ts
Labels: web

temp
  apps/web/src/app/api/cron/cli/route.ts
Labels: web

Delete Event CRON JOB
  apps/web/src/app/api/cron/deleteEvent/route.ts
Labels: web

Latest Process Pause API
  apps/web/src/app/api/processes/latest/pause/route.ts
Labels: web

JWT Config
  apps/web/src/config/jwt-secret.ts
Labels: web

CRON Endpoints: Manager:Eslint modify
  apps/web/src/app/api/cron/manager/route.ts
Labels: web

Latest Process Resume
  apps/web/src/app/api/processes/latest/resume/route.ts
Labels: web

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

resolve warning of link
  .gitignore
  apps/web/.eslintrc.cjs
  apps/web/middleware.tsx
  apps/web/package.json
  apps/web/public/souldCloudlogo.jpg
  apps/web/src/app/(authenticated)/authorisation/page.tsx
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web/src/app/api/auth/generate-refreshtoken/route.tsx
  apps/web/src/app/api/auth/sign-in/login-api.tsx
  apps/web/src/app/api/auth/sign-in/route.ts
  apps/web/src/app/api/auth/sign-out/route.ts
  apps/web/src/app/layout.tsx
  apps/web/src/app/modules/common/models/login.tsx
  apps/web/src/app/page.tsx
  apps/web/src/env.mjs
  apps/web/src/utils/schemas/login-schemas1.ts
  apps/web/tsconfig.json
  package.json
  pnpm-lock.yaml
  turbo.json
Labels: web

resolved comments of git
  apps/backoffice/src/app/layout.tsx
  apps/web/middleware.tsx
  apps/web/package.json
  apps/web/public/souldCloudlogo.ico
  apps/web/public/souldCloudlogo.png
  apps/web/src/app/(unauthenticated)/home/page.tsx
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web/src/app/api/auth/generate-refreshtoken/route.tsx
  apps/web/src/app/api/auth/sign-in/login-api.ts
  apps/web/src/app/api/auth/sign-in/route.ts
  apps/web/src/app/api/auth/sign-out/route.ts
  apps/web/src/app/layout.tsx
  apps/web/src/app/loading.tsx
  apps/web/src/components/misc/loader-centered.tsx
  apps/web/src/components/misc/mui-loader-centered.tsx
  apps/web/src/env.mjs
  apps/web/src/middleware.tsx
  apps/web/src/utils/schemas/login-schemas.ts
  apps/web/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Labels: web, backoffice

Remove JSX from tsconfig gile
  apps/web/tsconfig.json
Labels: web

resolve prettier warning
  apps/web/.eslintrc.cjs
  apps/web/src/env.mjs
Labels: web

resolve comments on issues
  apps/backoffice/src/app/souldCloudlogo.ico
  apps/web/.eslintrc.cjs
  apps/web/package.json
  apps/web/src/app/(authenticated)/authorisation/page.tsx
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web/src/app/api/auth/sign-in/login-api.ts
  apps/web/src/app/favicon.ico
  apps/web/src/app/modules/common/constant.ts
  apps/web/src/app/modules/common/models/login.tsx
  apps/web/src/app/souldCloudlogo.ico
  apps/web/src/env.mjs
  apps/web/src/middleware.tsx
  pnpm-lock.yaml
Labels: web, backoffice

access token secret get from envmjs
  apps/web/src/app/api/auth/sign-in/login-api.ts
Labels: web

change images extensions
  apps/web/public/souldCloudlogo.jpg
  apps/web/public/souldCloudlogo.png
  apps/web/public/souldCloudlogo.svg
  apps/web/src/app/(authenticated)/authorisation/page.tsx
  apps/web/src/app/(unauthenticated)/home/page.tsx
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web/src/app/api/auth/sign-in/login-api.ts
  apps/web/src/app/layout.tsx
  apps/web/src/env.mjs
  apps/web/src/middleware.tsx
  apps/web/tsconfig.json
Labels: web

.github/labeler.yml:

automation:
- changed-files:
  - any-glob-to-any-file: .github/**/*

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

infrastructure:
- changed-files:
  - any-glob-to-any-file: infrastructure/**/*

web:
- changed-files:
  - any-glob-to-any-file: apps/web/**/*

backoffice:
  - changed-files:
      - any-glob-to-any-file: apps/backoffice/**/*

feature:
  - head-branch: ['^env', 'env']

release:
  - base-branch: 'main'
