Repository excitr/sound-cloud-helper, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, documentation, infrastructure, web, backoffice

.github/labeler.yml:

automation:
- changed-files:
  - any-glob-to-any-file: .github/**/*

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

infrastructure:
- changed-files:
  - any-glob-to-any-file: infrastructure/**/*

web:
- changed-files:
  - any-glob-to-any-file: apps/web/**/*

backoffice:
  - changed-files:
      - any-glob-to-any-file: apps/backoffice/**/*

feature:
  - head-branch: ['^env', 'env']

release:
  - base-branch: 'main'

trigger vercel deployment when changing database package
  .github/workflows/deploy-vercel.yml
Labels: automation

generate prisma on build
  packages/database/package.json
Labels: none

Revert "use rhel-openssl in prisma target"
  packages/database/prisma/schema.prisma
Labels: none

use nextjs-monorepo-workaround-plugin
  apps/backoffice/next.config.mjs
  apps/backoffice/package.json
  apps/web/next.config.mjs
  apps/web/package.json
  pnpm-lock.yaml
Labels: web, backoffice

Revert "Revert "use rhel-openssl in prisma target""
  packages/database/prisma/schema.prisma
Labels: none

change redirect endpoint
  apps/web/src/app/api/auth/soundcloud/callback/route.ts
  apps/web/src/app/api/auth/soundcloud/redirect/route.ts
  apps/web/src/app/modules/constant.ts
  apps/web/src/env.mjs
Labels: web

resolve prettier issues
  apps/backoffice/next.config.mjs
  apps/web/next.config.mjs
  turbo.json
Labels: web, backoffice

change redirect endpoint (#43)
  apps/backoffice/next.config.mjs
  apps/web/next.config.mjs
  apps/web/src/app/api/auth/soundcloud/callback/route.ts
  apps/web/src/app/api/auth/soundcloud/redirect/route.ts
  apps/web/src/app/modules/constant.ts
  apps/web/src/env.mjs
  turbo.json
Labels: web, backoffice

add soundcloud redirct url in envmjs
  apps/web/src/env.mjs
Labels: web

add soundcloud redirct url in envmjs (#45)
  apps/web/src/env.mjs
Labels: web

working on follow
  apps/web/public/logo.svg
  apps/web/public/main-page/Pause-icon.svg
  apps/web/public/main-page/Play-icon.svg
  apps/web/src/app/(unauthenticated)/home/components/activity-section.tsx
  apps/web/src/app/(unauthenticated)/home/components/layout.tsx
  apps/web/src/app/(unauthenticated)/home/components/log-section.tsx
  apps/web/src/app/(unauthenticated)/home/components/options-section.tsx
  apps/web/src/app/(unauthenticated)/home/components/pricing-section.tsx
  apps/web/src/app/(unauthenticated)/home/components/profile-header.tsx
  apps/web/src/app/(unauthenticated)/home/context.ts
  apps/web/src/app/(unauthenticated)/home/helper/email-dropdown.tsx
  apps/web/src/app/(unauthenticated)/home/page.tsx
  apps/web/src/app/(unauthenticated)/home/type.ts
  apps/web/src/app/api/auth/fetch-followers/actions.ts
  apps/web/src/app/api/auth/fetch-followers/route.ts
  apps/web/src/app/api/auth/follow/actions.ts
  apps/web/src/app/api/auth/follow/route.ts
  apps/web/src/app/api/auth/home/route.ts
  apps/web/src/app/api/auth/sign-out/route.ts
  apps/web/src/app/api/auth/soundcloud/callback/route.ts
  apps/web/src/app/api/auth/start-activity/action.ts
  apps/web/src/app/api/auth/start-activity/route.ts
  apps/web/src/app/lib/common-functions.ts
  apps/web/src/app/modules/constant.ts
  apps/web/src/components/form/mui-radio-button.tsx
  apps/web/src/theme/functions.ts
  apps/web/src/theme/index.ts
Labels: web

working on follow
  apps/web/src/app/(unauthenticated)/home/components/activity-section.tsx
  apps/web/src/app/(unauthenticated)/home/components/options-section.tsx
  apps/web/src/app/api/auth/follow/actions.ts
  apps/web/src/app/api/auth/start-activity/action.ts
  apps/web/src/app/api/auth/start-activity/route.ts
Labels: web

working on refreshtoken
  apps/web/package.json
  apps/web/src/app/(unauthenticated)/home/components/activity-section.tsx
  apps/web/src/app/(unauthenticated)/home/components/layout.tsx
  apps/web/src/app/(unauthenticated)/home/components/options-section.tsx
  apps/web/src/app/(unauthenticated)/home/components/profile-header.tsx
  apps/web/src/app/(unauthenticated)/home/context.ts
  apps/web/src/app/(unauthenticated)/home/helper/email-dropdown.tsx
  apps/web/src/app/(unauthenticated)/home/page.tsx
  apps/web/src/app/(unauthenticated)/home/type.ts
  apps/web/src/app/api/auth/end-activity/actions.ts
  apps/web/src/app/api/auth/end-activity/route.ts
  apps/web/src/app/api/auth/fetch-followers/actions.ts
  apps/web/src/app/api/auth/fetch-followers/route.ts
  apps/web/src/app/api/auth/follow/actions.ts
  apps/web/src/app/api/auth/follow/route.ts
  apps/web/src/app/api/auth/generate-soundcloud-token/route.ts
  apps/web/src/app/api/auth/home/route.ts
  apps/web/src/app/api/auth/sign-in/actions.ts
  apps/web/src/app/api/auth/sign-in/login-helper.ts
  apps/web/src/app/api/auth/sign-out/route.ts
  apps/web/src/app/api/auth/soundcloud/callback/route.ts
  apps/web/src/app/api/auth/start-activity/action.ts
  apps/web/src/app/api/auth/start-activity/route.ts
  apps/web/src/app/lib/common-functions.ts
  apps/web/src/app/modules/constant.ts
  apps/web/src/components/form/mui-radio-button.tsx
  packages/database/prisma/migrations/20241113053614_log_activity/migration.sql
  packages/database/prisma/migrations/20241113125615_add_next_ref_log_activity/migration.sql
  packages/database/prisma/migrations/20241113174529_nextref_optional_log_activity/migration.sql
  packages/database/prisma/schema.prisma
  pnpm-lock.yaml
Labels: web

resolve error type
  apps/web/src/app/(unauthenticated)/home/components/activity-section.tsx
  apps/web/src/app/(unauthenticated)/home/components/layout.tsx
  apps/web/src/app/(unauthenticated)/home/components/log-section.tsx
  apps/web/src/app/(unauthenticated)/home/components/pricing-section.tsx
  apps/web/src/app/(unauthenticated)/home/page.tsx
  apps/web/src/app/(unauthenticated)/home/type.ts
  apps/web/src/app/api/auth/end-activity/actions.ts
  apps/web/src/app/api/auth/end-activity/route.ts
  apps/web/src/app/api/auth/fetch-followers/actions.ts
  apps/web/src/app/api/auth/fetch-followers/route.ts
  apps/web/src/app/api/auth/follow/actions.ts
  apps/web/src/app/api/auth/follow/route.ts
  apps/web/src/app/api/auth/generate-soundcloud-token/route.ts
  apps/web/src/app/api/auth/home/actions.ts
  apps/web/src/app/api/auth/home/route.ts
  apps/web/src/app/api/auth/sign-in/actions.ts
  apps/web/src/app/api/auth/sign-in/login-helper.ts
  apps/web/src/app/api/auth/soundcloud/callback/route.ts
  apps/web/src/app/api/auth/start-activity/action.ts
  apps/web/src/app/api/auth/start-activity/route.ts
  apps/web/src/app/lib/common-functions.ts
  apps/web/src/middleware.tsx
  packages/database/prisma/migrations/20241115060435_add_follow_user_id_logctivity/migration.sql
  packages/database/prisma/migrations/20241115071522_change_type_account_id_logactivity/migration.sql
  packages/database/prisma/schema.prisma
Labels: web

check last follow user id
  apps/web/src/app/(unauthenticated)/home/components/activity-section.tsx
  apps/web/src/app/(unauthenticated)/home/type.ts
  apps/web/src/app/api/auth/end-activity/route.ts
  apps/web/src/app/api/auth/fetch-followers/actions.ts
  apps/web/src/app/api/auth/follow/actions.ts
  apps/web/src/app/api/auth/start-activity/route.ts
Labels: web

remove null from end activity
  apps/web/src/app/(unauthenticated)/home/components/activity-section.tsx
  apps/web/src/app/(unauthenticated)/home/type.ts
  apps/web/src/app/api/auth/end-activity/route.ts
  apps/web/src/app/api/auth/start-activity/route.ts
  apps/web/src/app/modules/constant.ts
Labels: web

dynamic log data
  apps/web/src/app/(unauthenticated)/home/components/activity-section.tsx
  apps/web/src/app/(unauthenticated)/home/components/layout.tsx
  apps/web/src/app/(unauthenticated)/home/components/log-section.tsx
  apps/web/src/app/(unauthenticated)/home/components/profile-header.tsx
  apps/web/src/app/(unauthenticated)/home/context.ts
  apps/web/src/app/(unauthenticated)/home/page.tsx
  apps/web/src/app/(unauthenticated)/home/type.ts
  apps/web/src/app/api/auth/fetch-activity-time/actions.ts
  apps/web/src/app/api/auth/fetch-activity-time/route.ts
  apps/web/src/app/lib/common-functions.ts
Labels: web

update in migration
  packages/database/prisma/migrations/20241115133032_cursor_last_follow_user_add_logactivity/migration.sql
  packages/database/prisma/migrations/20241115191859_update_type_logactivity/migration.sql
  packages/database/prisma/schema.prisma
Labels: none

remove return null in start activity
  apps/web/src/app/api/auth/start-activity/route.ts
Labels: web

resolve prettier errors
  apps/web/src/app/api/auth/soundcloud/callback/route.ts
Labels: web

run prisma generate
  .github/workflows/deploy-vercel-fn.yml
Labels: automation

add startactivity type
  apps/web/src/app/(unauthenticated)/home/type.ts
Labels: web

remove null from generate token
  apps/web/src/app/api/auth/generate-soundcloud-token/route.ts
Labels: web

remove null from callback file
  apps/web/src/app/(unauthenticated)/home/page.tsx
  apps/web/src/app/(unauthenticated)/home/type.ts
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web/src/app/api/auth/home/actions.ts
  apps/web/src/app/api/auth/soundcloud/callback/route.ts
Labels: web

resolved lod data error
  apps/web/src/app/(unauthenticated)/home/context.ts
  apps/web/src/app/(unauthenticated)/home/page.tsx
  apps/web/src/app/(unauthenticated)/home/type.ts
Labels: web

resolve comments of PR
  apps/web/src/app/(authenticated)/authorisation/page.tsx
  apps/web/src/app/(authenticated)/home/components/activity-section.tsx
  apps/web/src/app/(authenticated)/home/components/layout.tsx
  apps/web/src/app/(authenticated)/home/components/log-section.tsx
  apps/web/src/app/(authenticated)/home/components/options-section.tsx
  apps/web/src/app/(authenticated)/home/components/pricing-section.tsx
  apps/web/src/app/(authenticated)/home/components/profile-header.tsx
  apps/web/src/app/(authenticated)/home/context.ts
  apps/web/src/app/(authenticated)/home/helper/email-dropdown.tsx
  apps/web/src/app/(authenticated)/home/page.tsx
  apps/web/src/app/(authenticated)/home/type.ts
  apps/web/src/app/api/auth/end-activity/route.ts
  apps/web/src/app/api/auth/fetch-activity-time/actions.ts
  apps/web/src/app/api/auth/fetch-followers/actions.ts
  apps/web/src/app/api/auth/follow/actions.ts
  apps/web/src/app/api/auth/generate-soundcloud-token/actions.ts
  apps/web/src/app/api/auth/generate-soundcloud-token/route.ts
  apps/web/src/app/api/auth/home/actions.ts
  apps/web/src/app/api/auth/sign-in/actions.ts
  apps/web/src/app/api/auth/sign-out/route.ts
  apps/web/src/app/api/auth/soundcloud/callback/route.ts
  apps/web/src/app/api/auth/soundcloud/redirect/route.ts
  apps/web/src/app/api/start-activity/action.ts
  apps/web/src/app/api/start-activity/route.ts
  apps/web/src/app/layout.tsx
  apps/web/src/app/lib/common-functions.ts
  apps/web/src/app/modules/constant.ts
  packages/database/prisma/migrations/20241119121823_log_activity_changes/migration.sql
  packages/database/prisma/schema.prisma
Labels: web

update getsoundcloudcookie name
  apps/web/src/app/api/auth/fetch-followers/actions.ts
  apps/web/src/app/api/auth/follow/actions.ts
  apps/web/src/app/api/auth/home/actions.ts
  apps/web/src/app/api/start-activity/route.ts
  apps/web/src/app/lib/common-functions.ts
Labels: web

add 6month seconds in token expiresIn
  apps/web/src/app/api/auth/sign-in/login-helper.ts
  apps/web/src/app/api/start-activity/route.ts
Labels: web

remove route for fetch-activity-time
  apps/web/src/app/(authenticated)/home/page.tsx
  apps/web/src/app/(authenticated)/home/type.ts
  apps/web/src/app/api/auth/fetch-activity-time/actions.ts
  apps/web/src/app/api/auth/fetch-activity-time/route.ts
Labels: web

removed to string from start time and end time
  apps/web/src/app/api/auth/fetch-activity-time/actions.ts
Labels: web

remove route of start activity
  apps/web/src/app/(authenticated)/home/components/activity-section.tsx
  apps/web/src/app/api/start-activity/action.ts
  apps/web/src/app/api/start-activity/route.ts
Labels: web

remove routes of end activity
  apps/web/src/app/(authenticated)/home/components/activity-section.tsx
  apps/web/src/app/(authenticated)/home/type.ts
  apps/web/src/app/api/auth/end-activity/action.ts
Labels: web

changes in camelCase
  apps/web/src/app/(authenticated)/home/components/profile-header.tsx
  apps/web/src/app/(authenticated)/home/context.ts
  apps/web/src/app/(authenticated)/home/page.tsx
  apps/web/src/app/(authenticated)/home/type.ts
  apps/web/src/app/api/auth/end-activity/action.ts
  apps/web/src/app/api/auth/home/actions.ts
  packages/database/prisma/schema.prisma
Labels: web

update const name
  apps/web/src/app/(authenticated)/home/components/activity-section.tsx
Labels: web

update following api
  apps/web/src/app/(authenticated)/home/type.ts
  apps/web/src/app/api/auth/fetch-activity-time/actions.ts
  apps/web/src/app/api/auth/fetch-followers/actions.ts
  apps/web/src/app/api/auth/follow/actions.ts
  apps/web/src/app/modules/constant.ts
Labels: web

Auto-update packages
  apps/backoffice/package.json
  apps/web/package.json
  package.json
  packages/config-eslint/package.json
  packages/config-tailwind/package.json
  packages/database/package.json
  packages/logger/package.json
  packages/mode/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: web, backoffice
