Repository excitr/sound-cloud-helper, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, documentation, infrastructure, web, backoffice

.github/labeler.yml:

automation:
- changed-files:
  - any-glob-to-any-file: .github/**/*

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

infrastructure:
- changed-files:
  - any-glob-to-any-file: infrastructure/**/*

web:
- changed-files:
  - any-glob-to-any-file: apps/web/**/*

backoffice:
  - changed-files:
      - any-glob-to-any-file: apps/backoffice/**/*

feature:
  - head-branch: ['^env', 'env']

release:
  - base-branch: 'main'

remove NEXT_PUBLIC_ENDPOINT from env mjs
  apps/web/src/app/api/auth/sign-in/route.ts
  apps/web/src/env.mjs
  turbo.json
Labels: web

resolve prettier format issues
  apps/web/src/env.mjs
Labels: web

remove files are action and signschema
  apps/web/src/app/actions.ts
  apps/web/src/app/api/auth/sign-in/login-api.ts
  apps/web/src/app/api/auth/sign-in/route.ts
  apps/web/src/app/modules/common/models/login.tsx
  apps/web/src/app/modules/constant.ts
  apps/web/src/middleware.tsx
Labels: web

resolve issues on sign in page
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
Labels: web

wip - login
  apps/web/src/app/(authenticated)/authorisation/page.tsx
  apps/web/src/app/api/auth/soundcloud/callback/route-20241030110954.ts
  apps/web/src/app/api/auth/soundcloud/callback/route-20241030111055.ts
  apps/web/src/app/api/auth/soundcloud/callback/route-20241030111100.ts
  apps/web/src/app/api/auth/soundcloud/callback/route.ts
  apps/web/src/app/modules/constant.ts
  apps/web/src/env.mjs
  packages/database/prisma/migrations/20241029112910_add_sound_cloud_token/migration.sql
  packages/database/prisma/schema.prisma
  turbo.json
Labels: web

Auto-update packages
  apps/backoffice/package.json
  apps/web/package.json
  package.json
  packages/config-eslint/package.json
  packages/config-tailwind/package.json
  packages/database/package.json
  packages/logger/package.json
  packages/mode/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: web, backoffice

serverComponentsExternalPackages to serverExternalPackages
  apps/backoffice/next.config.mjs
  apps/web/next.config.mjs
  apps/web/src/app/api/auth/sign-in/login-api.ts
  pnpm-lock.yaml
Labels: web, backoffice

fix login-api
  apps/web/src/app/api/auth/sign-in/login-api.ts
  apps/web/src/app/api/auth/sign-in/login-helper.ts
Labels: web

remove mantine
  apps/web/package.json
  apps/web/src/app/layout.tsx
  apps/web/src/components/misc/loader-centered.tsx
  pnpm-lock.yaml
Labels: web

remove mantine (#36)
  apps/web/package.json
  apps/web/src/app/layout.tsx
  apps/web/src/components/misc/loader-centered.tsx
  pnpm-lock.yaml
Labels: web

login functionality completed with soundCloudHelper
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web/src/app/api/auth/generate-soundcloud-token/route.ts
  apps/web/src/app/api/auth/sign-in/login-api.ts
  apps/web/src/app/api/auth/sign-out/route.ts
  apps/web/src/app/api/auth/soundcloud/callback/route-20241030110954.ts
  apps/web/src/app/api/auth/soundcloud/callback/route-20241030111055.ts
  apps/web/src/app/api/auth/soundcloud/callback/route-20241030111100.ts
  apps/web/src/app/api/auth/soundcloud/callback/route.ts
  apps/web/src/app/layout.tsx
  apps/web/src/app/modules/constant.ts
  apps/web/src/context/user-context.tsx
  apps/web/src/env.mjs
  apps/web/src/middleware.tsx
  turbo.json
Labels: web

added new table for sound cloud token
  packages/database/prisma/migrations/20241029112910_add_sound_cloud_token/migration.sql
  packages/database/prisma/migrations/20241030095739_sound_cloud_account/migration.sql
  packages/database/prisma/schema.prisma
Labels: none

account id update nd insert when user loggedin with soundcloud
  apps/web/src/app/(authenticated)/authorisation/page.tsx
  apps/web/src/app/api/auth/soundcloud/callback/route.ts
  apps/web/src/env.mjs
  packages/database/prisma/migrations/20241030095739_sound_cloud_account/migration.sql
  packages/database/prisma/schema.prisma
  turbo.json
Labels: web

fix the prettier warning
  apps/web/src/env.mjs
Labels: web

wip - login
  apps/web/src/app/(authenticated)/authorisation/page.tsx
  apps/web/src/app/api/auth/soundcloud/callback/route-20241030110954.ts
  apps/web/src/app/api/auth/soundcloud/callback/route-20241030111055.ts
  apps/web/src/app/api/auth/soundcloud/callback/route-20241030111100.ts
  apps/web/src/app/api/auth/soundcloud/callback/route.ts
  apps/web/src/app/modules/constant.ts
  apps/web/src/env.mjs
  packages/database/prisma/migrations/20241029112910_add_sound_cloud_token/migration.sql
  packages/database/prisma/schema.prisma
  turbo.json
Labels: web

31 login branch rebase with main
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web/src/app/api/auth/generate-soundcloud-token/route.ts
  apps/web/src/app/api/auth/sign-in/login-api.ts
  apps/web/src/app/api/auth/sign-out/route.ts
  apps/web/src/app/api/auth/soundcloud/callback/route-20241030110954.ts
  apps/web/src/app/api/auth/soundcloud/callback/route-20241030111055.ts
  apps/web/src/app/api/auth/soundcloud/callback/route-20241030111100.ts
  apps/web/src/app/api/auth/soundcloud/callback/route.ts
  apps/web/src/app/layout.tsx
  apps/web/src/app/modules/constant.ts
  apps/web/src/context/user-context.tsx
  apps/web/src/env.mjs
  apps/web/src/middleware.tsx
  turbo.json
Labels: web

add sound cloud account migration
  apps/web/src/app/api/auth/soundcloud/callback/route.ts
  packages/database/prisma/migrations/20241029112910_add_sound_cloud_token/migration.sql
  packages/database/prisma/migrations/20241105101751_sound_cloud_account/migration.sql
  packages/database/prisma/schema.prisma
Labels: web

resolve lint error
  apps/web/src/app/api/auth/soundcloud/callback/route.ts
Labels: web

resolve await error in login-api
  apps/web/src/app/api/auth/sign-in/login-api.ts
Labels: web

resolve cookie set error
  apps/web/src/app/api/auth/sign-in/login-api.ts
Labels: web

change method for set cookie
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web/src/app/api/auth/sign-in/login-api.ts
  apps/web/src/app/api/auth/soundcloud/callback/route.ts
Labels: web

change method for delete cookie
  apps/web/src/app/api/auth/sign-out/route.ts
Labels: web

changes in set cookies
  apps/web/src/app/api/auth/sign-in/login-api.ts
Labels: web

resolved the comments of PR
  apps/web/src/app/(authenticated)/authorisation/page.tsx
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web/src/app/api/auth/generate-soundcloud-token/route.ts
  apps/web/src/app/api/auth/sign-in/login-actions.ts
  apps/web/src/app/api/auth/sign-in/login-helper.ts
  apps/web/src/app/api/auth/sign-in/route.ts
  apps/web/src/app/api/auth/soundcloud/callback/route.ts
  apps/web/src/app/api/auth/soundcloud/redirect/route.ts
  apps/web/src/app/modules/constant.ts
  apps/web/src/env.mjs
  apps/web/src/middleware.tsx
  apps/web/src/utils/schemas/login-schemas.ts
  packages/database/prisma/migrations/20241106065419_update_sound_cloud_account/migration.sql
  packages/database/prisma/migrations/20241106071949_add_access_token_espire_sca/migration.sql
  packages/database/prisma/schema.prisma
Labels: web

change env variables name
  apps/web/src/env.mjs
  turbo.json
Labels: web

change function name nd changes in generate token function
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web/src/app/api/auth/generate-soundcloud-token/route.ts
  apps/web/src/app/api/auth/sign-in/login-actions.ts
  apps/web/src/app/api/auth/sign-in/route.ts
  apps/web/src/app/api/auth/soundcloud/callback/route.ts
Labels: web

remove redirecturl from env.mjs
  apps/web/src/env.mjs
Labels: web

resolved commits of PR
  apps/web/src/app/api/auth/generate-soundcloud-token/route.ts
  apps/web/src/app/api/auth/sign-in/actions.ts
  apps/web/src/app/api/auth/sign-in/route.ts
  apps/web/src/app/api/auth/sign-out/route.ts
  apps/web/src/app/api/auth/soundcloud/callback/route.ts
  apps/web/src/app/api/auth/soundcloud/redirect/route.ts
  apps/web/src/app/modules/constant.ts
  apps/web/src/env.mjs
  packages/database/prisma/migrations/20241107084214_update_access_token_espire_sca/migration.sql
  packages/database/prisma/schema.prisma
  turbo.json
Labels: web

optional remove from password
  packages/database/prisma/migrations/20241108080224_password_update_user/migration.sql
Labels: none

update in schema prisma
  packages/database/prisma/schema.prisma
Labels: none

remove logger info
  apps/web/src/app/api/auth/sign-in/actions.ts
Labels: web

remove logger info
  apps/web/src/app/api/auth/soundcloud/callback/route.ts
Labels: web

resolved comments of schema
  apps/web/src/app/api/auth/sign-in/actions.ts
  apps/web/src/app/api/auth/soundcloud/callback/route.ts
  packages/database/prisma/migrations/20241108104248_useremail_updatedat_sca_user/migration.sql
  packages/database/prisma/schema.prisma
Labels: web

try to resolve migration issues
  apps/web/src/app/api/auth/soundcloud/callback/route.ts
Labels: web

remove old migration and create a new
  packages/database/prisma/migrations/20241108080224_password_update_user/migration.sql
  packages/database/prisma/migrations/20241108104248_useremail_updatedat_sca_user/migration.sql
  packages/database/prisma/migrations/20241108112412_update_useremail_password_user/migration.sql
  packages/database/prisma/migrations/20241108112541_add_updatedat_sca/migration.sql
Labels: none

add upsert function
  apps/web/src/app/api/auth/soundcloud/callback/route.ts
  packages/database/prisma/migrations/20241108143618_update_id_type_sca/migration.sql
  packages/database/prisma/schema.prisma
Labels: web

execute migrations only in main
  .github/workflows/deploy-vercel-fn.yml
Labels: automation

31 login with soundcloud (#39)
  apps/web/src/app/(authenticated)/authorisation/page.tsx
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web/src/app/api/auth/generate-soundcloud-token/route.ts
  apps/web/src/app/api/auth/sign-in/actions.ts
  apps/web/src/app/api/auth/sign-in/login-api.ts
  apps/web/src/app/api/auth/sign-in/login-helper.ts
  apps/web/src/app/api/auth/sign-in/route.ts
  apps/web/src/app/api/auth/sign-out/route.ts
  apps/web/src/app/api/auth/soundcloud/callback/route.ts
  apps/web/src/app/api/auth/soundcloud/redirect/route.ts
  apps/web/src/app/layout.tsx
  apps/web/src/app/modules/constant.ts
  apps/web/src/context/user-context.tsx
  apps/web/src/env.mjs
  apps/web/src/middleware.tsx
  apps/web/src/utils/schemas/login-schemas.ts
  packages/database/prisma/migrations/20241105101751_sound_cloud_account/migration.sql
  packages/database/prisma/migrations/20241106065419_update_sound_cloud_account/migration.sql
  packages/database/prisma/migrations/20241106071949_add_access_token_espire_sca/migration.sql
  packages/database/prisma/migrations/20241107084214_update_access_token_espire_sca/migration.sql
  packages/database/prisma/migrations/20241108112412_update_useremail_password_user/migration.sql
  packages/database/prisma/migrations/20241108112541_add_updatedat_sca/migration.sql
  packages/database/prisma/migrations/20241108143618_update_id_type_sca/migration.sql
  packages/database/prisma/schema.prisma
  turbo.json
Labels: web

pino now using correct transport in production
  packages/logger/package.json
  packages/logger/src/index.ts
  packages/mode/src/index.ts
  pnpm-lock.yaml
Labels: none

use rhel-openssl in prisma target
  packages/database/prisma/schema.prisma
Labels: none
