Repository excitr/sound-cloud-helper, pull requests merged in 2024-10, with the labels that each got.

#14 delete .idea folder
  .gitignore
  .idea/.gitignore
  .idea/inspectionProfiles/Project_Default.xml
  .idea/jsLibraryMappings.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/sound-cloud-helper.iml
  .idea/vcs.xml
  apps/backoffice/package.json
  apps/web/package.json
  packages/config-lintstaged/index.mjs
  packages/database/package.json
  packages/logger/package.json
  packages/mode/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: release, web, backoffice

#16 migrate to mysql
  .github/workflows/deploy-vercel-fn.yml
  .github/workflows/deploy-vercel.yml
  README.md
  apps/backoffice/package.json
  apps/web/package.json
  apps/web/src/app/actions.ts
  apps/web/src/app/page.tsx
  package.json
  packages/database/package.json
  packages/database/prisma/migrations/0_init/migration.sql
  packages/database/prisma/migrations/20240915170545_user/migration.sql
  packages/database/prisma/migrations/migration_lock.toml
  packages/database/prisma/schema.prisma
  packages/database/src/client.ts
  packages/database/src/config.ts
  packages/ui/package.json
  pnpm-lock.yaml
  turbo.json
Labels: documentation, release, web, backoffice, automation

#21 better handling of PR comments
  .github/workflows/deploy-vercel-fn.yml
Labels: release, automation

#26 25-force-arrow-function-in-ts-files
  apps/backoffice/.eslintrc.cjs
  apps/backoffice/package.json
  apps/backoffice/src/app/layout.tsx
  apps/backoffice/src/app/page.tsx
  apps/backoffice/tsconfig.json
  apps/web/.eslintrc.cjs
  apps/web/package.json
  apps/web/src/app/layout.tsx
  apps/web/tsconfig.json
  packages/config-eslint/library.cjs
  packages/config-eslint/next.cjs
  packages/config-eslint/package.json
  packages/config-lintstaged/index.mjs
  packages/database/package.json
  packages/logger/package.json
  packages/mode/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: release, web, backoffice

#28 fix vercel preview
  .github/workflows/deploy-vercel-fn.yml
  .github/workflows/deploy-vercel.yml
Labels: release, automation

#30 login screen
  .gitignore
  apps/backoffice/src/app/favicon.ico
  apps/backoffice/src/app/layout.tsx
  apps/backoffice/src/app/souldCloudlogo.ico
  apps/web/.eslintrc.cjs
  apps/web/package.json
  apps/web/public/souldCloudlogo.ico
  apps/web/public/souldCloudlogo.svg
  apps/web/src/app/(authenticated)/authorisation/page.tsx
  apps/web/src/app/(unauthenticated)/home/page.tsx
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web/src/app/actions.ts
  apps/web/src/app/api/auth/sign-in/login-api.ts
  apps/web/src/app/api/auth/sign-in/route.ts
  apps/web/src/app/favicon.ico
  apps/web/src/app/layout.tsx
  apps/web/src/app/loading.tsx
  apps/web/src/app/modules/constant.ts
  apps/web/src/app/page.tsx
  apps/web/src/app/souldCloudlogo.ico
  apps/web/src/components/misc/loader-centered.tsx
  apps/web/src/components/misc/mui-loader-centered.tsx
  apps/web/src/env.mjs
  apps/web/src/middleware.tsx
  apps/web/src/utils/schemas/login-schemas.ts
  apps/web/tsconfig.json
  package.json
  pnpm-lock.yaml
  turbo.json
Labels: release, web, backoffice
